.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/gradle.xml
Progark-Gruppe-A19.iml
app/app.iml
app/app.iml
app/app.iml
andenginephysicsbox2dextension/andenginephysicsbox2dextension.iml
*.xml
.idea/gradle.xml
*.iml
